<!DOCTYPE html>
<HTML>
<!--澹版槑Thymeleaf鍛藉悕绌洪棿-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SCT-后台系统</title>
</head>
<form id="submitForm" action="home/index" method="post">
<div id="login_center">
    <div id="login_area">
        <div id="login_box">
            <div id="login_form">
                <div id="login_tip">
                    <span id="login_err" class="sty_txt2"></span>
                </div>
                <div>
                    邮箱：<input type="text" name="email" class="email" id="email">
                </div>
                <div>
                    用户名：<input type="text" name="susername" class="susername" id="susername">
                </div>
                <div>
                    密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="spassword" name="spassword" class="pwd" id="pwd"
                                                      onkeypress="EnterPress(event)" onkeydown="EnterPress()">
                </div>
                <div id="btn_area">
                    <button type="submit" class="login_btn" id="submit1">注册</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>